body {
  background-image: url('../Images/bg.jpeg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

#container {
background-color: rgba(258,258,265,0.9);
max-width: 1200px;
    margin: 0 auto;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
    margin: 20px;
    text-align: center;
    color: #0661D7;
    font-size: 30px;
    font-family: palatino, serif;
}

nav {
    background-color: #D2EEFC;
    padding: 25px 0;
    margin: 0px
}

nav ul {
    text-align: center;
    font-family: palatino, serif;
}

nav ul li {
    display: inline;
    margin: 30px 80px;
}

nav ul li a {
    color: #063B80;
    font-size: 26px;
    font-family: palatino, serif;
}

nav ul li a:hover{
    color: white;
}

#bengi-tab,
#abc-tab{
    display: none;
    padding: 30px;
    border-radius: 10px;
    margin: 20px 0;
}

.tissue-icon {
    text-align: center;
    margin: 20px;
    text-decoration: none;
    color: #333;
    display: inline-block; /* Set to inline-block to display icons in a row */
    width: 20%; /* Set a width to control the number of icons in a row */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

.tissue-icon img, .node-icon img {
    width: 100px; /* Adjust the size as needed */
    height: auto;
    margin-bottom: 10px;
}

.tissue-icon:hover, .node-icon:hover {
    background-color: #f0f0f0;
    border-radius: 8px;
}

.highlight-link {
  text-align: center;
}

.section-with-shadow {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Add box shadow */
    padding: 20px; /* Add padding to create space around the content */
    border-radius: 8px; /* Add border-radius for rounded corners */
}

.node-container {
    display: flex; /* Use flexbox to display items side by side */
    justify-content: space-around; /* Center items horizontally with space around */
}

.node-icon {
    text-align: center;
    text-decoration: none;
    color: #333;
    width: 20%; /* Adjust width as needed */
    box-sizing: border-box;
    padding: 20px; /* Add padding to create space around the content */
    border-radius: 8px; /* Add border-radius for rounded corners */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Add box shadow */
}

.node-icon img {
    width: 100px; /* Adjust image size as needed */
    height: auto;
}

footer {
    text-align: center;
    padding: 1px;
    background-color: #D2EEFC;
}

.introduction-section, .celltype-section {
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    margin: 20px 0;
}

h2 {
    font-size: 26px;
    text-align: center;
}

p, li {
    font-size: 26px;
    line-height: 1.5;
    color: #333;
}

.term {
    color: #0661D7;
}

label, select, button {
  font-size: 21px; /* Adjust the font size as needed */
  padding: 10;
  margin-bottom: 10px;
}

#selected-cell-types-info {
  text-align: left; /* Align content to the left */
}

.selected-cell-types-list {
  list-style-type: none;
  padding: 0;
}

.selected-cell-types-list li {
  margin-bottom: 10px;
}

.selected-cell-types-list li span {
  display: inline-block;
  width: 35px; /* Adjust width as needed */
  height: 35px; /* Adjust height as needed */
  margin-right: 20px;
}

/* Assign colors to cell types */
.selected-cell-types-list li span.blue { background-color: lightblue; }
.selected-cell-types-list li span.green { background-color: lightgreen; }
.selected-cell-types-list li span.orange { background-color: orange; }
.selected-cell-types-list li span.pink { background-color: pink; }
.selected-cell-types-list li span.yellow { background-color: khaki; }

#loading {
    position: fixed;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#loading img {
    width: 170px; /* Adjust size as needed */
    height: auto; /* Maintain aspect ratio */
}

#show-graph-button {
    display: none;
    position: fixed;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}




